.footer{
    text-align: center;
    background-color: rgb(70, 46, 92);
    position: fixed;
    width: 100%;
    bottom: 2px;
    color: rgb(199, 214, 228);
}

.footer > p{
    font-family:'Times New Roman', Times, serif;
}